src/main/scala/com/oglowo/callfire/soap/callfire-service.xsd

<?xml version="1.0" encoding="UTF-8"?><!--callfire-service.xsd, 1.1-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:x="http://www.w3.org/1999/xhtml"
        xmlns:tns="http://api.callfire.com/service/xsd" xmlns:data="http://api.callfire.com/data"
        xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
        xmlns:ann="http://api.callfire.com/annotations" elementFormDefault="qualified"
        targetNamespace="http://api.callfire.com/service/xsd" jaxb:version="2.0" jaxb:extensionBindingPrefixes="ann">
    <import namespace="http://api.callfire.com/data" schemaLocation="callfire-data.xsd"/>
    <simpleType name="FaultCode">
        <restriction base="string">
            <enumeration value="BAD_REQUEST"/>
            <enumeration value="FORBIDDEN"/>
            <enumeration value="NOT_FOUND"/>
            <enumeration value="UNAVAILABLE"/>
            <enumeration value="TIMEOUT"/>
            <enumeration value="NOT_IMPLEMENTED"/>
        </restriction>
    </simpleType>
    <simpleType name="IdList">
        <list itemType="long"/>
    </simpleType>
    <element name="ServiceFaultInfo">
        <annotation>
            <documentation>
                <ann:summary>Info on cause of service error</ann:summary>
            </documentation>
        </annotation>
        <complexType>
            <sequence>
                <element name="FaultCode" type="tns:FaultCode"/>
                <element name="Message" type="string" minOccurs="0"/>
                <element name="Detail" type="string" minOccurs="0"/>
            </sequence>
        </complexType>
    </element>
    <complexType name="QueryResult" abstract="true">
        <sequence>
            <element name="TotalResults" type="long">
                <annotation>
                    <documentation>
                        <ann:summary>Results count</ann:summary>
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <element name="CreatedId" type="long">
        <annotation>
            <documentation>
                <ann:summary>Unique ID of resource</ann:summary>
            </documentation>
        </annotation>
    </element>
    <complexType name="IdRequest">
        <sequence>
            <element name="Id" type="long">
                <annotation>
                    <documentation>
                        <ann:summary>Unique ID of resource</ann:summary>
                        <ann:demoValue>135</ann:demoValue>
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="Query">
        <sequence>
            <element name="MaxResults" type="long" minOccurs="0" default="1000">
                <annotation>
                    <documentation>
                        <ann:summary>Max number of results to return limited to 1000 (default: 1000)</ann:summary>
                        <ann:demoValue>1000</ann:demoValue>
                    </documentation>
                </annotation>
            </element>
            <element name="FirstResult" type="long" minOccurs="0" default="0">
                <annotation>
                    <documentation>
                        <ann:summary>Start of next result set (default: 0)</ann:summary>
                        <ann:demoValue>0</ann:demoValue>
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="SendRequest" abstract="true">
        <sequence>
            <element name="RequestId" type="anyURI" minOccurs="0">
                <annotation>
                    <documentation>
                        <ann:summary>Unique ID, used to de-dup requests and make sure request is not processed twice
                        </ann:summary>
                        <ann:demoValue>MyUniqueIdForThisRequest</ann:demoValue>
                    </documentation>
                </annotation>
            </element>
            <element name="BroadcastName" type="string" default="API Send" minOccurs="0">
                <annotation>
                    <documentation>
                        <ann:summary>Title of Broadcast (default: API Send)</ann:summary>
                        <ann:demoValue>My Send Broadcast</ann:demoValue>
                    </documentation>
                </annotation>
            </element>
            <element name="ToNumber" type="data:ToNumber" maxOccurs="unbounded">
                <annotation>
                    <xs:appinfo xmlns:xs="http://www.w3.org/2001/XMLSchema"
                                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <jaxb:bindings node="ancestor::xs:annotation/..">
                            <ann:annotate ann:restParam="To" ann:requiredIn="POST"/>
                        </jaxb:bindings>
                    </xs:appinfo>
                </annotation>
            </element>
            <element name="ScrubBroadcastDuplicates" type="boolean" default="false" minOccurs="0">
                <annotation>
                    <documentation>
                        <ann:summary>Scrub duplicates (default: false)</ann:summary>
                        <ann:demoValue>false</ann:demoValue>
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <!-- Broadcast Service -->
    <element name="GetBroadcast" type="tns:IdRequest">
        <annotation>
            <documentation>
                <ann:summary>Broadcast request by unique ID</ann:summary>
            </documentation>
        </annotation>
    </element>
    <element name="QueryBroadcasts">
        <annotation>
            <documentation>
                <ann:summary>Broadcasts request by query</ann:summary>
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="tns:Query">
                    <sequence>
                        <element name="Type" minOccurs="0">
                            <annotation>
                                <documentation>
                                    <ann:demoValue>TEXT</ann:demoValue>
                                </documentation>
                            </annotation>
                            <simpleType>
                                <list itemType="data:BroadcastType"/>
                            </simpleType>
                        </element>
                        <element name="Running" minOccurs="0" type="boolean">
                            <annotation>
                                <documentation>
                                    <ann:summary>Filter on running Broadcasts</ann:summary>
                                    <ann:demoValue>false</ann:demoValue>
                                </documentation>
                            </annotation>
                        </element>
                        <element name="LabelName" type="string" minOccurs="0">
                            <annotation>
                                <documentation ann:sinceVersion="1.2">
                                    <ann:summary>Label that result must have to be included</ann:summary>
                                    <ann:demoValue>MyLabel</ann:demoValue>
                                </documentation>
                            </annotation>
                        </element>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name="BroadcastQueryResult">
        <annotation>
            <documentation>
                <ann:summary>List of Broadcasts returned from query</ann:summary>
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="tns:QueryResult">
                    <sequence>
                        <element ref="data:Broadcast" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name="GetBroadcastStats">
        <annotation>
            <documentation>
                <ann:summary>BroadcastStats request by unique ID</ann:summary>
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="tns:IdRequest">
                    <sequence>
                        <element name="IntervalBegin" type="dateTime" minOccurs="0">
                            <annotation>
                                <documentation>
                                    <ann:summary>Beginning of DateTime interval to search on</ann:summary>
                                    <ann:demoValue>2012-01-01T21:32:52Z</ann:demoValue>
                                </documentation>
                            </annotation>
                        </element>
                        <element name="IntervalEnd" type="dateTime" minOccurs="0">
                            <annotation>
                                <documentation>
                                    <ann:summary>End of DateTime interval to search on</ann:summary>
                                    <ann:demoValue>2013-10-26T05:36:10Z</ann:demoValue>
                                </documentation>
                            </annotation>
                        </element>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <simpleType name="BroadcastCommand">
        <restriction base="string">
            <enumeration value="START"/>
            <enumeration value="STOP"/>
            <enumeration value="ARCHIVE"/>
        </restriction>
    </simpleType>
    <complexType name="BroadcastRequest">
        <sequence>
            <element name="RequestId" type="anyURI" minOccurs="0">
                <annotation>
                    <documentation>
                        <ann:summary>Unique ID of web request to de-dup on</ann:summary>
                        <ann:demoValue>MyUUIDForDeDupping</ann:demoValue>
                    </documentation>
                </annotation>
            </element>
            <element ref="data:Broadcast">
                <annotation>
                    <documentation>
                        <ann:summary>Broadcast info</ann:summary>
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <element name="CreateBroadcast" type="tns:BroadcastRequest">
        <annotation>
            <documentation>
                <ann:summary>Create Broadcast using attached info</ann:summary>
            </documentation>
        </annotation>
    </element>
    <element name="UpdateBroadcast" type="tns:BroadcastRequest">
        <annotation>
            <documentation>
                <ann:summary>Update Broadcast using attached info</ann:summary>
            </documentation>
        </annotation>
    </element>
    <element name="ControlBroadcast">
        <complexType>
            <complexContent>
                <extension base="tns:IdRequest">
                    <sequence>
                        <element name="RequestId" type="anyURI" minOccurs="0"/>
                        <element name="Command" type="tns:BroadcastCommand" minOccurs="0"/>
                        <element name="MaxActive" type="int" minOccurs="0">
                            <annotation>
                                <documentation>
                                    <ann:summary>Max simultaneous calls</ann:summary>
                                    <ann:demoValue>50</ann:demoValue>
                                </documentation>
                            </annotation>
                        </element>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name="GetContactBatch" type="tns:IdRequest">
        <annotation>
            <documentation>
                <ann:summary>ContactBatch request by unique ID</ann:summary>
            </documentation>
        </annotation>
    </element>
    <element name="QueryContactBatches">
        <annotation>
            <documentation>
                <ann:summary>ContactBatches request by query</ann:summary>
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="tns:Query">
                    <sequence>
                        <element name="BroadcastId" type="long">
                            <annotation>
                                <documentation>
                                    <ann:summary>Unique ID of Broadcast</ann:summary>
                                </documentation>
                            </annotation>
                        </element>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name="ContactBatchQueryResult">
        <annotation>
            <documentation>
                <ann:summary>List of ContactBatches returned from query</ann:summary>
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="tns:QueryResult">
                    <sequence>
                        <element ref="data:ContactBatch" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name="CreateContactBatch">
        <annotation>
            <documentation>
                <ann:summary>Create ContactBatch using attached info</ann:summary>
            </documentation>
        </annotation>
        <complexType>
            <sequence>
                <element name="RequestId" type="anyURI" minOccurs="0"/>
                <element name="BroadcastId" type="long"/>
                <element name="Name" type="string" minOccurs="0" default="API Contact Batch"/>
                <choice>
                    <element name="ToNumber" type="data:ToNumber" maxOccurs="unbounded">
                        <annotation>
                            <xs:appinfo xmlns:xs="http://www.w3.org/2001/XMLSchema"
                                        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                                <jaxb:bindings node="ancestor::xs:annotation/..">
                                    <ann:annotate ann:restParam="To"/>
                                </jaxb:bindings>
                            </xs:appinfo>
                        </annotation>
                    </element>
                    <element name="ContactListId" type="long"/>
                    <!-- TODO: filter -->
                </choice>
                <element name="ScrubBroadcastDuplicates" type="boolean" default="false" minOccurs="0"/>
            </sequence>
        </complexType>
    </element>
    <element name="ControlContactBatch">
        <complexType>
            <complexContent>
                <extension base="tns:IdRequest">
                    <sequence>
                        <element name="Name" type="string" minOccurs="0"/>
                        <element name="Enabled" type="boolean" minOccurs="0"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name="GetBroadcastSchedule" type="tns:IdRequest">
        <annotation>
            <documentation>
                <ann:summary>BroadcastSchedule request by unique ID</ann:summary>
            </documentation>
        </annotation>
    </element>
    <element name="QueryBroadcastSchedules">
        <annotation>
            <documentation>
                <ann:summary>BroadcastSchedules request by query</ann:summary>
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="tns:Query">
                    <sequence>
                        <element name="BroadcastId" type="long">
                            <annotation>
                                <documentation>
                                    <ann:summary>Unique ID of Broadcast</ann:summary>
                                </documentation>
                            </annotation>
                        </element>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name="BroadcastScheduleQueryResult">
        <annotation>
            <documentation>
                <ann:summary>List of BroadcastSchedules returned from query</ann:summary>
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="tns:QueryResult">
                    <sequence>
                        <element ref="data:BroadcastSchedule" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name="CreateBroadcastSchedule">
        <annotation>
            <documentation>
                <ann:summary>Create BroadcastSchedule using attached info</ann:summary>
            </documentation>
        </annotation>
        <complexType>
            <sequence>
                <element name="RequestId" type="anyURI" minOccurs="0"/>
                <element name="BroadcastId" type="long"/>
                <element ref="data:BroadcastSchedule"/>
            </sequence>
        </complexType>
    </element>
    <element name="DeleteBroadcastSchedule" type="tns:IdRequest">
        <annotation>
            <documentation>
                <ann:summary>Delete BroadcastSchedule identified by unique ID</ann:summary>
            </documentation>
        </annotation>
    </element>
    <!-- Subscription Service -->
    <element name="GetSubscription" type="tns:IdRequest">
        <annotation>
            <documentation>
                <ann:summary>Subscription request by unique ID</ann:summary>
            </documentation>
        </annotation>
    </element>
    <element name="QuerySubscriptions" type="tns:Query">
        <annotation>
            <documentation>
                <ann:summary>Subscriptions request by query</ann:summary>
            </documentation>
        </annotation>
    </element>
    <element name="SubscriptionQueryResult">
        <annotation>
            <documentation>
                <ann:summary>List of Subscriptions returned from query</ann:summary>
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="tns:QueryResult">
                    <sequence>
                        <element ref="data:Subscription" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <complexType name="SubscriptionRequest">
        <sequence>
            <element name="RequestId" type="anyURI" minOccurs="0">
                <annotation>
                    <documentation>
                        <ann:summary>Unique ID of web request needed for de-duping</ann:summary>
                        <ann:demoValue>1</ann:demoValue>
                    </documentation>
                </annotation>
            </element>
            <element ref="data:Subscription"/>
        </sequence>
    </complexType>
    <element name="CreateSubscription" type="tns:SubscriptionRequest">
        <annotation>
            <documentation>
                <ann:summary>Create Subscription using attached info</ann:summary>
            </documentation>
        </annotation>
    </element>
    <element name="UpdateSubscription" type="tns:SubscriptionRequest">
        <annotation>
            <documentation>
                <ann:summary>Update Subscription using attached info</ann:summary>
            </documentation>
        </annotation>
    </element>
    <element name="DeleteSubscription" type="tns:IdRequest">
        <annotation>
            <documentation>
                <ann:summary>Delete Subscription identified by unique ID</ann:summary>
            </documentation>
        </annotation>
    </element>
    <!-- Text Service -->
    <element name="SendText">
        <annotation>
            <documentation>
                <ann:summary>Data (ToNumber and Message) needed to start a text campaign</ann:summary>
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="tns:SendRequest">
                    <sequence>
                        <element ref="data:TextBroadcastConfig"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name="GetText" type="tns:IdRequest">
        <annotation>
            <documentation>
                <ann:summary>Text request by unique ID</ann:summary>
            </documentation>
        </annotation>
    </element>
    <complexType name="ActionQuery">
        <complexContent>
            <extension base="tns:Query">
                <sequence>
                    <element name="BroadcastId" type="long" minOccurs="0">
                        <annotation>
                            <documentation>
                                <ann:summary>BroadcastId to query on</ann:summary>
                                <ann:demoValue>1</ann:demoValue>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="BatchId" type="long" minOccurs="0">
                        <annotation>
                            <documentation>
                                <ann:summary>BatchId to query on</ann:summary>
                                <ann:demoValue>1</ann:demoValue>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="State" minOccurs="0">
                        <annotation>
                            <documentation>
                                <ann:summary>List of Action States to query on</ann:summary>
                                <ann:demoValue>FINISHED TIMEOUT</ann:demoValue>
                            </documentation>
                        </annotation>
                        <simpleType>
                            <list itemType="data:ActionState"/>
                        </simpleType>
                    </element>
                    <element name="Result" minOccurs="0">
                        <annotation>
                            <documentation>
                                <ann:summary>List of Results to query on</ann:summary>
                                <ann:demoValue>SENT RECEIVED</ann:demoValue>
                            </documentation>
                        </annotation>
                        <simpleType>
                            <list itemType="data:Result"/>
                        </simpleType>
                    </element>
                    <element name="Inbound" type="boolean" minOccurs="0">
                        <annotation>
                            <documentation>
                                <ann:summary>Is call inbound</ann:summary>
                                <ann:demoValue>true</ann:demoValue>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="IntervalBegin" type="dateTime" minOccurs="0">
                        <annotation>
                            <documentation>
                                <ann:summary>Beginning of DateTime interval to search on</ann:summary>
                                <ann:demoValue>2012-01-01T21:32:52Z</ann:demoValue>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="IntervalEnd" type="dateTime" minOccurs="0">
                        <annotation>
                            <documentation>
                                <ann:summary>End of DateTime interval to search on</ann:summary>
                                <ann:demoValue>2013-10-26T05:36:10Z</ann:demoValue>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="FromNumber" type="data:PhoneNumber" minOccurs="0">
                        <annotation>
                            <documentation>
                                <ann:summary>E.164 11 digit number</ann:summary>
                                <ann:demoValue>13105551212</ann:demoValue>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="ToNumber" type="data:PhoneNumber" minOccurs="0">
                        <annotation>
                            <documentation>
                                <ann:summary>E.164 11 digit number</ann:summary>
                                <ann:demoValue>18185551212</ann:demoValue>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="LabelName" type="string" minOccurs="0">
                        <annotation>
                            <documentation ann:sinceVersion="1.2">
                                <ann:summary>Label that result must have to be included</ann:summary>
                                <ann:demoValue>MyLabel</ann:demoValue>
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="QueryTexts" type="tns:ActionQuery">
        <annotation>
            <documentation>
                <ann:summary>Texts request by query</ann:summary>
            </documentation>
        </annotation>
    </element>
    <element name="TextQueryResult">
        <annotation>
            <documentation>
                <ann:summary>List of Texts returned from query</ann:summary>
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="tns:QueryResult">
                    <sequence>
                        <element ref="data:Text" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name="GetAutoReply" type="tns:IdRequest">
        <annotation>
            <documentation>
                <ann:summary>AutoReply request by unique ID</ann:summary>
            </documentation>
        </annotation>
    </element>
    <element name="QueryAutoReplies" type="tns:Query">
        <annotation>
            <documentation>
                <ann:summary>AutoReplies request by query</ann:summary>
            </documentation>
        </annotation>
    </element>
    <element name="AutoReplyQueryResult">
        <annotation>
            <documentation>
                <ann:summary>List of AutoReplies returned from query</ann:summary>
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="tns:QueryResult">
                    <sequence>
                        <element ref="data:AutoReply" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name="CreateAutoReply">
        <annotation>
            <documentation>
                <ann:summary>Create AutoReply using attached info</ann:summary>
            </documentation>
        </annotation>
        <complexType>
            <sequence>
                <element name="RequestId" type="anyURI" minOccurs="0"/>
                <element ref="data:AutoReply"/>
            </sequence>
        </complexType>
    </element>
    <element name="DeleteAutoReply" type="tns:IdRequest">
        <annotation>
            <documentation>
                <ann:summary>Delete AutoReply identified by unique ID</ann:summary>
            </documentation>
        </annotation>
    </element>
    <!-- Call Service -->
    <element name="SendCall">
        <complexType>
            <complexContent>
                <extension base="tns:SendRequest">
                    <choice>
                        <element ref="data:VoiceBroadcastConfig"/>
                        <element ref="data:IvrBroadcastConfig"/>
                    </choice>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name="GetCall" type="tns:IdRequest">
        <annotation>
            <documentation>
                <ann:summary>Call request by unique ID</ann:summary>
            </documentation>
        </annotation>
    </element>
    <element name="QueryCalls" type="tns:ActionQuery">
        <annotation>
            <documentation>
                <ann:summary>Calls request by query</ann:summary>
            </documentation>
        </annotation>
    </element>
    <element name="CallQueryResult">
        <annotation>
            <documentation>
                <ann:summary>List of Calls returned from query</ann:summary>
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="tns:QueryResult">
                    <sequence>
                        <element ref="data:Call" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <!-- Sound Service -->
    <simpleType name="SoundFormat">
        <restriction base="string">
            <enumeration value="WAV"/>
            <enumeration value="MP3"/>
        </restriction>
    </simpleType>
    <element name="CreateSound">
        <annotation>
            <documentation>
                <ann:summary>Create Sound using attached info</ann:summary>
            </documentation>
        </annotation>
        <complexType>
            <sequence>
                <element name="Name" type="string" minOccurs="0">
                    <annotation>
                        <documentation>
                            <ann:summary>The name of your sound.</ann:summary>
                            <ann:description>This name is included in SoundMeta and shown in the web interface.
                            </ann:description>
                            <ann:demoValue>My API Test Sound</ann:demoValue>
                        </documentation>
                    </annotation>
                </element>
                <choice>
                    <element name="Data" type="base64Binary" xmime:expectedContentTypes="application/octet-stream">
                        <annotation>
                            <documentation>
                                <ann:summary>MP3 or WAV bytes.</ann:summary>
                                <ann:description>&lt;br /&gt; &lt;a href="http://en.wikipedia.org/wiki/Base64"&gt;Base64&lt;/a&gt;
                                    encoded bytes can be provided inline. Capable clients can avoid the 33% encoding
                                    overhead by sending the data as an &lt;a href="http://www.w3.org/TR/soap12-mtom/"&gt;MTOM&lt;/a&gt;
                                    attachment.
                                </ann:description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="RecordingCall">
                        <annotation>
                            <documentation>
                                <ann:summary>Initiates a call to record a new sound over the phone.</ann:summary>
                            </documentation>
                        </annotation>
                        <complexType>
                            <sequence>
                                <element name="ToNumber" type="data:PhoneNumber">
                                    <annotation>
                                        <documentation>
                                            <ann:summary>E.164 11 digit number to call to record a new sound.
                                            </ann:summary>
                                            <ann:demoValue>13105551212</ann:demoValue>
                                        </documentation>
                                    </annotation>
                                </element>
                            </sequence>
                        </complexType>
                    </element>
                </choice>
            </sequence>
        </complexType>
    </element>
    <element name="GetSoundMeta" type="tns:IdRequest">
        <annotation>
            <documentation>
                <ann:summary>SoundMeta request by unique ID</ann:summary>
            </documentation>
        </annotation>
    </element>
    <element name="GetSoundData">
        <annotation>
            <documentation>
                <ann:summary>SoundData request by unique ID</ann:summary>
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="tns:IdRequest">
                    <sequence>
                        <element name="Format" type="tns:SoundFormat" minOccurs="0" default="MP3">
                            <annotation>
                                <documentation>
                                    <ann:summary>Specifies the format of the returned sound data.</ann:summary>
                                </documentation>
                            </annotation>
                        </element>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name="SoundData" type="base64Binary" xmime:expectedContentTypes="application/octet-stream">
        <annotation>
            <documentation>
                <ann:summary>SoundData as application/octet-stream</ann:summary>
            </documentation>
        </annotation>
    </element>
    <element name="QuerySoundMeta" type="tns:Query">
        <annotation>
            <documentation>
                <ann:summary>SoundMeta request by query</ann:summary>
            </documentation>
        </annotation>
    </element>
    <element name="SoundMetaQueryResult">
        <annotation>
            <documentation>
                <ann:summary>List of SoundMeta returned from query</ann:summary>
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="tns:QueryResult">
                    <sequence>
                        <element ref="data:SoundMeta" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name="GetRecordingData">
        <annotation>
            <documentation>
                <ann:summary>RecordingData request by unique ID or CallId/Name Pair</ann:summary>
            </documentation>
        </annotation>
        <complexType>
            <sequence>
                <choice>
                    <sequence>
                        <element name="CallId" type="long">
                            <annotation>
                                <documentation>
                                    <ann:summary>Unique ID of call</ann:summary>
                                    <ann:demoValue>357</ann:demoValue>
                                </documentation>
                            </annotation>
                        </element>
                        <element name="Name" type="string">
                            <annotation>
                                <documentation>
                                    <ann:summary>Name of sound data as defined in IVR</ann:summary>
                                    <ann:demoValue>customerResponse</ann:demoValue>
                                </documentation>
                            </annotation>
                        </element>
                    </sequence>
                    <element name="RecordingId" type="long">
                        <annotation>
                            <documentation>
                                <ann:summary>Unique ID of recording</ann:summary>
                                <ann:demoValue>531</ann:demoValue>
                            </documentation>
                        </annotation>
                    </element>
                </choice>
                <element name="Format" type="tns:SoundFormat" minOccurs="0" default="MP3">
                    <annotation>
                        <documentation>
                            <ann:summary>Format of the returned recording.</ann:summary>
                            <ann:demoValue>MP3</ann:demoValue>
                        </documentation>
                    </annotation>
                </element>
            </sequence>
        </complexType>
    </element>
    <element name="RecordingData" type="base64Binary" xmime:expectedContentTypes="application/octet-stream">
        <annotation>
            <documentation>
                <ann:summary>Raw binary sound data</ann:summary>
            </documentation>
        </annotation>
    </element>
    <!-- Contact Service -->
    <element name="GetContact" type="tns:IdRequest">
        <annotation>
            <documentation>
                <ann:summary>Contact request by unique ID</ann:summary>
            </documentation>
        </annotation>
    </element>
    <element name="GetContactHistory" type="tns:IdRequest">
        <annotation>
            <documentation>
                <ann:summary>ContactHistory request by unique ID</ann:summary>
            </documentation>
        </annotation>
    </element>
    <element name="QueryContacts">
        <annotation>
            <documentation>
                <ann:summary>Contacts request by query which can include String, Field, and ContactListId</ann:summary>
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="tns:Query">
                    <sequence>
                        <element name="Field" type="string" minOccurs="0">
                            <annotation>
                                <documentation>
                                    <ann:summary>Field to filter by</ann:summary>
                                </documentation>
                            </annotation>
                        </element>
                        <element name="ContactListId" type="long" minOccurs="0">
                            <annotation>
                                <documentation>
                                    <ann:summary>ContactList to filter by</ann:summary>
                                </documentation>
                            </annotation>
                        </element>
                        <element name="String" type="string" minOccurs="0">
                            <annotation>
                                <documentation>
                                    <ann:summary>Substring contained in Contact to filter by</ann:summary>
                                </documentation>
                            </annotation>
                        </element>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name="ContactQueryResult">
        <annotation>
            <documentation>
                <ann:summary>List of Contacts returned from query</ann:summary>
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="tns:QueryResult">
                    <sequence>
                        <element name="ContactListName" type="string" minOccurs="0"/>
                        <element ref="data:Contact" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name="UpdateContacts">
        <annotation>
            <documentation>
                <ann:summary>Update Contacts using attached info</ann:summary>
            </documentation>
        </annotation>
        <complexType>
            <sequence>
                <element ref="data:Contact" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name="RemoveContacts">
        <complexType>
            <sequence>
                <element name="ContactId" type="tns:IdList"/>
            </sequence>
        </complexType>
    </element>
    <element name="QueryContactLists" type="tns:Query">
        <annotation>
            <documentation>
                <ann:summary>ContactLists request by query</ann:summary>
            </documentation>
        </annotation>
    </element>
    <element name="ContactListQueryResult">
        <annotation>
            <documentation>
                <ann:summary>List of ContactLists returned from query</ann:summary>
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="tns:QueryResult">
                    <sequence>
                        <element ref="data:ContactList" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name="ContactSource">
        <annotation>
            <documentation>
                <ann:summary>List of contacts, numbers, contactIds, or csv file.</ann:summary>
            </documentation>
        </annotation>
        <complexType>
            <choice><!-- verbose/most-explicit method for creating new contacts -->
                <element ref="data:Contact" maxOccurs="unbounded"/>
                <element name="ContactId" type="tns:IdList">
                    <annotation>
                        <documentation>
                            <ann:summary>List of existing contact ids</ann:summary>
                        </documentation>
                    </annotation>
                </element>
                <!-- for CSV and Excel attachments -->
                <element name="File" type="base64Binary" xmime:expectedContentTypes="application/octet-stream">
                    <annotation>
                        <documentation>
                            <ann:summary>Csv file attachment containing list of contacts or numbers</ann:summary>
                        </documentation>
                    </annotation>
                </element>
                <!-- for simple list of numbers -->
                <element name="Numbers">
                    <annotation>
                        <documentation>
                            <ann:summary>List of E.164 11 digit numbers space seperated and optional fieldName
                            </ann:summary>
                        </documentation>
                    </annotation>
                    <complexType>
                        <simpleContent>
                            <extension base="data:PhoneNumberList">
                                <attribute name="fieldName" type="string" default="homePhone">
                                    <annotation>
                                        <documentation>
                                            <ann:summary>field number should be assigned to homePhone, workPhone or
                                                mobilePhone (default: homePhone)
                                            </ann:summary>
                                        </documentation>
                                    </annotation>
                                </attribute>
                            </extension>
                        </simpleContent>
                    </complexType>
                </element>
            </choice>
        </complexType>
    </element>
    <element name="CreateContactList">
        <annotation>
            <documentation>
                <ann:summary>Create ContactList using attached info</ann:summary>
            </documentation>
        </annotation>
        <complexType>
            <sequence><!-- <element name="RequestId" type="anyURI" minOccurs="0"/>  -->
                <element name="RequestId" type="anyURI" minOccurs="0"/>
                <element name="Name" type="string"/>
                <element ref="tns:ContactSource"/>
            </sequence>
        </complexType>
    </element>
    <element name="DeleteContactList" type="tns:IdRequest">
        <annotation>
            <documentation>
                <ann:summary>Delete ContactList identified by unique ID</ann:summary>
            </documentation>
        </annotation>
    </element>
    <complexType name="ContactListRequest">
        <sequence>
            <element name="ContactListId" type="long">
                <annotation>
                    <documentation>
                        <ann:summary>Unique ID of ContactList</ann:summary>
                        <ann:demoValue>123</ann:demoValue>
                    </documentation>
                </annotation>
            </element>
            <element ref="tns:ContactSource"/>
        </sequence>
    </complexType>
    <element name="AddContactsToList" type="tns:ContactListRequest">
        <annotation>
            <documentation>
                <ann:summary>Add attached numbers to contact list</ann:summary>
            </documentation>
        </annotation>
    </element>
    <element name="RemoveContactsFromList" type="tns:ContactListRequest">
        <annotation>
            <documentation>
                <ann:summary>Remove attached numbers from contact list</ann:summary>
            </documentation>
        </annotation>
    </element>
    <!-- Number Service -->
    <element name="GetNumber">
        <annotation>
            <documentation>
                <ann:summary>Number request by 11 digit telephone number</ann:summary>
            </documentation>
        </annotation>
        <complexType>
            <sequence>
                <element name="Number" type="data:PhoneNumber">
                    <annotation>
                        <documentation>
                            <ann:summary>11 digit telephone number</ann:summary>
                            <ann:demoValue>18185551212</ann:demoValue>
                        </documentation>
                    </annotation>
                </element>
            </sequence>
        </complexType>
    </element>
    <complexType name="RegionQuery">
        <complexContent>
            <extension base="tns:Query">
                <sequence>
                    <element ref="data:Region"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="QueryRegions" type="tns:RegionQuery">
        <annotation>
            <documentation>
                <ann:summary>Regions request by query</ann:summary>
            </documentation>
        </annotation>
    </element>
    <element name="RegionQueryResult">
        <annotation>
            <documentation>
                <ann:summary>List of Regions returned from query</ann:summary>
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="tns:QueryResult">
                    <sequence>
                        <element ref="data:Region" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name="QueryNumbers">
        <annotation>
            <documentation>
                <ann:summary>Numbers request by query</ann:summary>
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="tns:RegionQuery">
                    <sequence>
                        <element name="LabelName" type="string" minOccurs="0">
                            <annotation>
                                <documentation ann:sinceVersion="1.2">
                                    <ann:summary>Label that number must have to be included</ann:summary>
                                    <ann:demoValue>MyLabel</ann:demoValue>
                                </documentation>
                            </annotation>
                        </element>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name="NumberQueryResult">
        <annotation>
            <documentation>
                <ann:summary>List of Numbers returned from query</ann:summary>
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="tns:QueryResult">
                    <sequence>
                        <element ref="data:Number" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name="SearchAvailableNumbers">
        <complexType>
            <sequence>
                <element ref="data:Region" minOccurs="0"/>
                <element name="TollFree" type="boolean" minOccurs="0" default="false"/>
                <element name="Count" type="int">
                    <annotation>
                        <documentation>
                            <ann:summary>Keywords request by query</ann:summary>
                        </documentation>
                    </annotation>
                </element>
            </sequence>
        </complexType>
    </element>
    <element name="ConfigureNumber">
        <complexType>
            <sequence>
                <element name="Number" type="data:PhoneNumber"/>
                <element ref="data:NumberConfiguration"/>
            </sequence>
        </complexType>
    </element>
    <element name="QueryKeywords" type="tns:Query">
        <annotation>
            <documentation>
                <ann:summary>Keywords request by query</ann:summary>
            </documentation>
        </annotation>
    </element>
    <element name="KeywordQueryResult">
        <annotation>
            <documentation>
                <ann:summary>List of Keywords returned from query</ann:summary>
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="tns:QueryResult">
                    <sequence>
                        <element ref="data:Keyword" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name="SearchAvailableKeywords">
        <complexType>
            <sequence>
                <element name="Keywords" type="data:KeywordList"/>
            </sequence>
        </complexType>
    </element>
    <element name="CreateNumberOrder">
        <annotation>
            <documentation>
                <ann:summary>Create NumberOrder using attached info</ann:summary>
            </documentation>
        </annotation>
        <complexType>
            <sequence>
                <element name="Numbers" type="data:PhoneNumberList" minOccurs="0">
                    <annotation>
                        <documentation>
                            <ann:summary>List E.164 11 digit numbers space seperated</ann:summary>
                            <ann:demoValue>13105551212 18185551212</ann:demoValue>
                        </documentation>
                    </annotation>
                </element>
                <element name="Keywords" type="data:KeywordList" minOccurs="0">
                    <annotation>
                        <documentation>
                            <ann:summary>List of keywords space seperated</ann:summary>
                            <ann:demoValue>CHOCOLATE VANILLA</ann:demoValue>
                        </documentation>
                    </annotation>
                </element>
                <element name="BulkLocal" minOccurs="0">
                    <annotation>
                        <documentation>
                            <ann:summary>Local numbers to aquire</ann:summary>
                        </documentation>
                    </annotation>
                    <complexType>
                        <sequence>
                            <element name="Count" type="int">
                                <annotation>
                                    <xs:appinfo xmlns:xs="http://www.w3.org/2001/XMLSchema"
                                                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                                        <jaxb:bindings node="ancestor::xs:annotation/..">
                                            <ann:annotate ann:restParam="localCount"/>
                                        </jaxb:bindings>
                                    </xs:appinfo>
                                </annotation>
                            </element>
                            <element ref="data:Region"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="BulkTollFree" minOccurs="0">
                    <annotation>
                        <documentation>
                            <ann:summary>Toll free numbers to aquire</ann:summary>
                        </documentation>
                    </annotation>
                    <complexType>
                        <sequence>
                            <element name="Count" type="int">
                                <annotation>
                                    <xs:appinfo xmlns:xs="http://www.w3.org/2001/XMLSchema"
                                                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                                        <jaxb:bindings node="ancestor::xs:annotation/..">
                                            <ann:annotate ann:restParam="tollFreeCount"/>
                                        </jaxb:bindings>
                                    </xs:appinfo>
                                </annotation>
                            </element>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
    <element name="GetNumberOrder" type="tns:IdRequest">
        <annotation>
            <documentation>
                <ann:summary>NumberOrder request by unique ID</ann:summary>
            </documentation>
        </annotation>
    </element>
    <element name="Release">
        <annotation>
            <documentation>
                <ann:summary>Release leased numbers / keywords in account</ann:summary>
            </documentation>
        </annotation>
        <complexType>
            <sequence>
                <element name="Numbers" type="data:PhoneNumberList" minOccurs="0">
                    <annotation>
                        <documentation>
                            <ann:summary>List of E.164 11 digit numbers to release (space seperated)</ann:summary>
                            <ann:demoValue>13105551212 18185551212</ann:demoValue>
                        </documentation>
                    </annotation>
                </element>
                <element name="Keywords" type="data:KeywordList" minOccurs="0">
                    <annotation>
                        <documentation>
                            <ann:summary>List of keywords to release (space seperated)</ann:summary>
                            <ann:demoValue>CHOCOLATE VANILLA</ann:demoValue>
                        </documentation>
                    </annotation>
                </element>
            </sequence>
        </complexType>
    </element>
    <!-- Label Service -->
    <element name="DeleteLabel">
        <complexType>
            <sequence>
                <element name="LabelName" type="string">
                    <annotation>
                        <documentation>
                            <ann:summary>Label name</ann:summary>
                            <ann:demoValue>MyLabel</ann:demoValue>
                        </documentation>
                    </annotation>
                </element>
            </sequence>
        </complexType>
    </element>
    <element name="QueryLabels" type="tns:Query"/>
    <element name="LabelQueryResult">
        <complexType>
            <complexContent>
                <extension base="tns:QueryResult">
                    <sequence>
                        <element ref="data:Label" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <complexType name="IdLabelRequest">
        <complexContent>
            <extension base="tns:IdRequest">
                <sequence>
                    <element name="LabelName" type="string">
                        <annotation>
                            <documentation>
                                <ann:summary>Label name</ann:summary>
                                <ann:demoValue>MyLabel</ann:demoValue>
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="LabelBroadcast" type="tns:IdLabelRequest"/>
    <element name="UnlabelBroadcast" type="tns:IdLabelRequest"/>
    <complexType name="NumberLabelRequest">
        <sequence>
            <element name="Number" type="data:PhoneNumber">
                <annotation>
                    <documentation>
                        <ann:summary>List of E.164 11 digit numbers space seperated and optional fieldName</ann:summary>
                    </documentation>
                </annotation>
            </element>
            <element name="LabelName" type="string">
                <annotation>
                    <documentation>
                        <ann:summary>Label name</ann:summary>
                        <ann:demoValue>MyLabel</ann:demoValue>
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <element name="LabelNumber" type="tns:NumberLabelRequest"/>
    <element name="UnlabelNumber" type="tns:NumberLabelRequest"/>
</schema>